@font-face {
    font-family: 'Emulogic Regular', monospace;
    src: url("Emulogic-zrEw.ttf") format('truetype');
  }
  
  
  body {
    font-family: 'Emulogic Regular', monospace;
    font-weight: 700;
  
    background-image: url("grid.png");
    background-repeat: repeat;
  
  }
  
  table, th, td {
    border: 1px solid black;
  }
  