<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link href="/style.css" rel="stylesheet"/>
<head>
	<title style="font-family:Emulogic Regular">Query Manager</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Agents </h1>
    <tbody>
    <p th:text="'There are ' + ${agentCount} + ' agents registered.'"></p>
    <br>

    <div>
    <form th:action="@{/addQuery/}" th:object="${query}" method="post">
        <label>Query</label>
        <input type="text" class="form-control" th:value="${room}" th:field="*{room}" ></br>
        <br>
        <button type="submit">Add Query</button>
    </form>
    </div>
    
    <br>
    <p th:text="'Queue length is ' + ${queueCount}"></p>

    <h2>Queue</h2>
    <table>
    <thead>
        <tr>
            <th> Time </th>
            <th> Query </th>
        </tr>
    </thead>
 
    <tbody>
    <tr th:if="${queueView.empty}">
            <td colspan="2"> Nothing to show yet </td>
        </tr>
        <tr th:each="view : ${queueView}">
            <td><span th:text="${view.Time}"> State </span></td>
            <td><span th:text="${view.queryBody}"> State </span></td>
        </tr>
    </tbody>
    </table>
 
    <h2>Agents</h2>
    <table>
    <thead>
        <tr>
            <th> Name </th>
            <th> Location </th>
        </tr>
    </thead>
 
    <tbody>
    <tr th:if="${agentViews.empty}">
            <td colspan="2"> Nothing to show yet </td>
        </tr>
        <tr th:each="view : ${agentViews}">
            <td><span th:text="${view.name}"> State </span></td>
            <td><span th:text="${view.location}"> Action </span></td>
        </tr>
    </tbody>
 </table>

<h2>Completed Paths</h1>
   <table>
   <thead>
       <tr>
           <th> Details </th>
       </tr>
   </thead>

   <tbody>
   <tr th:if="${completedQueueViews.empty}">
           <td colspan="2"> Nothing to show yet </td>
       </tr>
       <tr th:each="view : ${completedQueueViews}">
           <td><span th:text="${view}"> Details </span></td>
       </tr>
   </tbody>
</table>

</body>
</html>